.actions {
    .text-teg-p {
        margin-left: 35px;
        margin-top: 7px;
        color: #E2E7EE;
        font-family: Open Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .locasion_text {
        margin-top: 7px;
        margin-left: 35px;
        color: #A9B3C0;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .li_divan {
        // margin-right: 100px;
        margin-top: 10px;
        color: #A9B3C0;
        font-family: Open Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 35px;
    }



    .li_divan {

        margin-left: 35px;
        position: relative;
    }

    .divan-divan {
        position: absolute;
        top: -20%;
        left: -25px;
    }

    .ul_divan {
        margin-left: 25px;
        position: relative;
    }

    .ul_divan {
        display: flex;
    }

    .vannA_LI {
        margin-left: 35px;
    }

    .hero_vanna {
        position: absolute;
        top: 5px;
        left: 150px;
    }

    .vannA_LI {
        margin-left: 70px;
        margin-top: 8px;
        color: #A9B3C0;
        font-family: Open Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .divan_btn {
        position: absolute;
        left: 10px;
        top: 40px;
        width: 250px;
        height: 1px;
        flex-shrink: 0;
        background: #414B5B;
        border: none;
    }

    .actions-btn89 {
        position: absolute;
        top: 73%;
        right: 160px;
        border-radius: 50%;
        background-color: #414B5B;
        width: 5px;
        height: 5px;
        flex-shrink: 0;
        border: none;
    }

    .hero_text_8 {
        margin-left: 34px;
        margin-top: 35px;
        color: #1252AE;
        font-family: Open Sans;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .sntry91-span {
        color: #1252AE;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .hero_btn-8 {
        position: absolute;
        top: 320px;
        right: 24px;
        width: 102px;
        height: 34px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #2E3646;
        color: #D9DEE4;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
    }

    .btn-11 {
        margin: 0 auto;
        // margin-left: 600px;
        margin-top: 70px;
        margin-bottom: 80px;
        color: white;
        width: 141px;
        height: 38px;
        border-radius: 4px;
        background: #1252AE;
        box-shadow: 0px 3px 3px 0px rgba(9, 23, 44, 0.25);
        border: none;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .imggimg {
        padding-top: 5px;
    }

    .hero___img {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 65px;
        height: 18px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #2A2E43;
        box-shadow: 0px 2px 2px 0px rgba(42, 50, 60, 0.20);
        color: #EAEDF5;
        text-align: center;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
    }
   

}