.img_bottom {
    position: relative;
    margin-top: 210px;

    .hero_h4 {
        color: #E2E7EE;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .hero_h4_span {
        color: #1252AE;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 25px;
    }

    .hero_bottom_text_1 {
        width: 624px;
        height: 38px;
        color: #A9B3C0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
    }


    .hero_bottom_text_2 {
        width: 603px;
        height: 38px;
        color: #A9B3C0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 35px;
    }

    .hero_bottom_span_1 {
        color: #E2E7EE;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 14px;
    }

    .hero_bottom_textt_1 {
        color: #E2E7EE;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 14px;
    }

    .ul_ul {
        align-items: center;
        color: #E2E7EE;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .ul_li_text {
        margin-left: 25px;
        margin-bottom: 14px;
    }

    .position_1 {
        position: absolute;
        top: 265px;
        left: -3px;
    }

    .position_2 {
        position: absolute;
        top: 300px;
        left: -3px;
    }

    .position_3 {
        position: absolute;
        top: 337px;
        left: -3px;
    }

    .position_4 {
        position: absolute;
        top: 371px;
        left: -3px;
    }

    .position_5 {
        position: absolute;
        top: 405px;
        left: -3px;
    }

    .imgimgimg {
        position: absolute;
        top: -35px;
        right: -20px;
        filter: drop-shadow(0px 15px 20px rgba(169, 182, 201, 0.15));
    }

    .btn_11 {
        margin-top: 55px;
        width: 119px;
        height: 38px;
        border-radius: 4px;
        background: #1252AE;
        box-shadow: 0px 3px 3px 0px rgba(9, 23, 44, 0.25);
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 220px;
    }

}