.main-main {
    position: relative;

    .main_div {
        .text_h4 {
            margin-top: 80px;
            color: #1252AE;
            font-family: Open Sans;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .span_textt {
            color: #E8EBF1;
            font-family: Open Sans;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .text_h4 {
            margin-bottom: 90px;
            margin-left: 20px;
        }

        .vero_vero {
            display: flex;
        }
    }

    .div_positon {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 150px;
        height: 1px;
        flex-shrink: 0;
        background: #E8EBF1;

    }

    .div_positon_2 {
        position: absolute;
        top: 50px;
        left: 180px;
        width: 50px;
        height: 1px;
        flex-shrink: 0;
        background: rgba(18, 82, 174, 0.50);

    }

    .div_h5 {
        margin-left: 136px;
    }

    .text_h5 {
        color: #E2E7EE;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .span_text {
        color: #1252AE;
        margin-bottom: 25px;
    }

    .hero___text {
        color: #A9B3C0;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
    }

    .hero___text_2 {
        color: #A9B3C0;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
    }

    .hero_btn_galochka {
        position: relative;
        padding: 20px 20px 20px 20px;
        width: 536px;
        height: 144px;
        border-radius: 4px;
        background: #0E1420;
        border: 1px solid #2E3844;
        margin-bottom: 15px;
    }

    .hero_h6 {
        text-align: start;
        color: #E2E7EE;
        font-family: Open Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 15px;
    }

    .herrro_textx {
        text-align: start;
        width: 388px;
        height: 57px;
        color: #A9B3C0;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .div_div_div {
        margin-left: 60px;
    }

    .strelk_3 {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .strelk_4 {
        position: absolute;
        top: 22px;
        right: 22px;
    }

    .hero_btn_galochka_2 {
        position: relative;
        padding: 20px 20px 20px 20px;
        width: 536px;
        height: 80px;
        border-radius: 4px;
        background: #0E1420;
        border: 1px solid #2E3844;
        margin-bottom: 15px;
    }

    .hero_textt {
        color: #A1A9B2;
        font-family: Open Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .imgmgmg {
        position: absolute;
        top: 29px;
        right: 29px;
    }
    // .img_qor {
        // margin-bottom: 150px;
    // }
}