.wrapper {
    margin-top: 70px;

    .hero_btn-4 {
        width: 57px;
        height: 29px;
        flex-shrink: 0;
        border-radius: 4px 4px 0px 0px;
        background: #1252AE;
        color: #FFF;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
    }

    .hero_btn-5 {
        width: 55px;
        height: 29px;
        flex-shrink: 0;
        border-radius: 4px 4px 0px 0px;
        background: #FFF;
        color: #1252AE;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        margin-left: 8px;
    }

    .hero_btn-6 {
        width: 63px;
        height: 29px;
        flex-shrink: 0;
        border-radius: 4px 4px 0px 0px;
        background: #FFF;
        color: #1252AE;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 8px;
        border: none;
    }

}

.wrapper_2 {
    width: 665px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(4px);
    border: none;

    .hero_btn-7 {
        padding-left: 25px;
        width: 160px;
        height: 38px;
        text-align: start;
        flex-shrink: 0;
        border-radius: 4px;
        background: #FFF;
        color: #7A818C;
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        margin-left: 12px;
    }

    .hero_btn-10 {
        width: 112px;
        height: 38px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #1252AE;
        box-shadow: 0px 3px 3px 0px rgba(9, 23, 44, 0.25);
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        margin-left: 12px;

    }

    .salom {
        padding-top: 13px;
    }

    .img_ {
        // padding-top: 30px;
        margin-left: 30px;
    }

    .img_2 {
        // padding-top: 5px;
        margin-right: 5px;
    }

    .img_3 {
        padding-right: 15px;
    }

    .img_4 {
        padding-left: 20px;
    }

    .img_5 {
        margin-right: 7px;
    }

    .img_6 {
        margin-left: 50px;
    }

    .img_7 {
        margin-right: 4px;
    }


}

.hero_text_2 {
    width: 470px;
    margin-top: 80px;
    color: #1252AE;
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    .hero_span {
        color: #E8EBF1;
    }
}

.wrapper_3 {
    width: 150px;
    height: 1px;
    border: 1px solid white;
    position: absolute;
    left: 0px;
    top: 50px;
}

.wrapper_44 {
    position: absolute;
    top: 50px;
    left: 180px;
    width: 50px;
    border: 1px solid rgba(18, 82, 174, 0.50);
    height: 1px;
    flex-shrink: 0;
    background: rgba(18, 82, 174, 0.50)
}

.wrapper_5 {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 20px;
    border: 1px solid rgba(18, 82, 174, 0.50);
    height: 1px;
    flex-shrink: 0;
    background: rgba(18, 82, 174, 0.50)
}

.hero-div {
    margin-top: 69px;
    margin-left: 72px;
}


.hero_text_3 {

    // margin-top: 17px;
    color: #CFD5DD;
    // text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hero_text_4 {
    margin-left: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}
.hero_text_5 {
    margin-left: 110px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}
.hero_text_6 {
    margin-left: 90px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}
.hero_text_7 {
    margin-left: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}


.hero_btn_1 {
    // margin-left: 22px;
    // margin-top: 9px;
    color: #DBE2EB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 104px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2A333F;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.20);
    border: none;
}

.sall{
    align-items: center;
    justify-content: center;
    margin-top: 67px;
    margin-left: 47px;
    display: flex;
    gap: 0 140px;
}
.sall-2 {
    align-items: center;
    justify-content: center;
    display: flex;
    // gap: 0 90px;
    margin-left: 20px;
    margin-top: 17px;
}
.sall-3 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
    margin-top: 17px;
}
.hero_btn_2 {
    margin-left: 130px;
    color: #DBE2EB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 104px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2A333F;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.20);
    border: none;
}
.hero_btn_3 {
    margin-left: 145px;
    color: #DBE2EB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 104px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2A333F;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.20);
    border: none;
}
.hero_btn_4 {
    margin-left: 140px;
    color: #DBE2EB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 104px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2A333F;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.20);
    border: none;
}
.hero_btn_5 {
    margin-left: 125px;
    color: #DBE2EB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 104px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2A333F;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.20);
    border: none;
}
.img-img {
    margin-top: 59px;
    margin-left: 650px;
}
.wrapper_4 {
    position: relative;
}